<!DOCTYPE html>
<html ng-app="application">
<head>
<meta charset="UTF-8">
<title>$Dinheiro</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="../angular/js/angular/angular.js"></script>
<script type="text/javascript" src="../angular/js/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="../angular/js/angular-route/angular-route.js"></script>

<script type="text/javascript" src="../controller/app.js"></script>
<script type="text/javascript" src="../controller/crudRestApplication.js"></script>
<script type="text/javascript" src="../controller/controllers.js"></script>

<!-- http://marketplace.eclipse.org/content/angularjs-eclipse#.VCmjT9WUeZU -->

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body ng-controller="controller as control">
	
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">$Dinheiro</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>Felipe Miguel</a></li>
				</ul>
			</div>
		</nav>
	<table class="table" ng-show="control.clientes.length > 0">
		<thead>
			<th>Nome</th>
			<th>CPF</th>
		</thead>
		<tbody ng-repeat="c in control.clientes">
			<td>{{c.nome}}</td>
			<td>{{c.cpf}}</td>
		</tbody>
	</table>	
	
	<form>
		<div class="form-group">
		    <label for="nomeID">Nome</label>
		    <input type="text" class="form-control" ng-model="cliente.nome" id="nomeID" placeholder="Nome">
		</div>
		<div class="form-group">
		    <label for="cpfID">cpf</label>
		    <input type="text" class="form-control" ng-model="cliente.cpf" id="cpfID" placeholder="CPF">
		</div>
		<div>
			<button class="btn btn-default" ng-click="control.salvar(cliente)">Salvar</button>
		</div>
	</form>
	
</body>
</html>